.container {
  max-width: 1023px;
  margin-inline: 1.5rem;

  @media screen and (min-width: 1023px) {
    margin: 0 auto;
  }
}

.products__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, auto);

  
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, auto);
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(3, auto);
  }
}